.page-center {
    max-width: 1200px;
    margin: 0 auto;
}

.cartItemDetail_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0px;
    justify-content: space-between;
}

img.cartItemImage {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}

.cartItemDetail_wrapper {
    display: flex;
    flex: 1;
    margin-left: 25px;
}

h3.cartItem_name {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 3px;
}


.cartItems_quantity_container {
    margin-left: 25px;
}

p.cartItem_quantity {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 18px;
}

.cardItems_increase {
    display: flex;
}

.cardItems_increase input[type="number"] {
    width: 50px;
    text-align: center;
    display: flex;
    font-size: 18px;
    padding-left: 17px;
}

.cardItems_increase svg {
    cursor: pointer;
}

.cartProduct {
    margin-top: 20px;
}

@media screen and (max-width:1200px) {
    .page-center {
        max-width: 850px;
    }
}

@media screen and (max-width: 850px) {
    .page-center {
        max-width: 545px;
    }
}

@media screen and (max-width: 600px) {
    .cartItemDetail_container {
        flex-direction: column;
    }

    .page-center {
        max-width: none;
        margin: 0px 20px;
    }
}