@tailwind base;

@layer base {
    h1 {
        @apply text-3xl;
        font-weight: bold
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }
}

@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
    font-family: none;
    scroll-behavior: smooth;
}

[hidden] {
    display: none !important;
}